.container {
	max-width: 1024px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	button {
		padding: 0.5rem 1rem;
		font-size: 1rem;
	}
	svg {
		margin-right: auto;
	}
}
